h1 {color: blue;
}
h2 {color: black;
}
h3 {font-size: 300%;
}
h3 {text-align: center;
}
#passport {width: 35%;
}
#passport {margin-left: 32%;
}
h2 {font-size 200%;
}
h1 {font-size: 100%;
}
h3 {color: blue;
}
